.cart-body {
  display: grid;
  grid-template-rows: 8fr;
  width: 100%;
}

.cart-header {
  text-align: center;
  padding: 1rem;
}

.cart-body {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 1rem 2rem 1rem 7rem;
}

.cart-body .item-img {
  height: 16rem;
}

.cart-body .horizontal-card {
  width: fit-content;
}

.cart-card-container {
  grid-template-columns: auto;
  display: grid;
  grid-gap: 1rem;
}

.cart-card-container .card-content {
  gap: 0.5rem;
}

.cart-card-container .add-to-wishlist {
  background-color: lightgray;
  color: var(--primary--color);
}
.remove-from-cart {
  margin-top: 1rem;
}

.cart-price-details {
  height: fit-content;
}

.price-details-item {
  justify-content: space-between;
}

.line-divider {
  border: 0.2px solid var(--primary--color);
}

.cart-container .primary-btn {
  font-size: 1rem;
}
